/* Define CSS variables for homepage that work with Nextra's theme */
:root {
  --bg-default: rgb(250, 250, 250);
  --bg-muted: rgb(246, 248, 250);
  --border-color: rgb(208, 215, 222);
  --fg-default: rgb(31, 35, 40);
  --fg-muted: rgb(87, 96, 106);
  --primary-color: hsl(212, 100%, 45%);
}

.dark {
  --bg-default: rgb(17, 17, 17);
  --bg-muted: rgb(22, 27, 34);
  --border-color: rgb(48, 54, 61);
  --fg-default: rgb(230, 237, 243);
  --fg-muted: rgb(139, 148, 158);
  --primary-color: hsl(204, 100%, 55%);
}

